.sideNav-main{
    position: fixed;
}
.sideNav{
    height: 100vh !important;
    padding-left: 30%;
}
.icons{
    color: white !important;
}
.sidenav-icons{
    display: block;
    font-size: 50px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px 5px;
    color: white;
    margin-bottom: 7px;
}
.sidenav-icons:hover{
    color:  #08F7FE;
    border: 1px solid  #08F7FE;
}