body {
    background-color: black !important;
}

.skills {
    height: 100vh;
    margin-top: 100px;
}

.skills>.row>.col-md-5>h5 {
    color: white;
    margin-top: 3%;
}

.underLine {
    height: 5px;
    background-color: #08F7FE;
    width: 70px;
    border-radius: 10px;
    margin-bottom: 3% !important;
}

.skill-border {
    border-left: 5px solid #08F7FE;
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.skills>.row>.col-md-5>p {
    color: white;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #0f0730;
    margin-right: 5px;
}

.skills>.row>.skill-border>p {
    color: white;
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #0f0730;
}