.problem-solving {
    height: 100vh;
    position: absolute;
    top: 300%;
}

.home-section-name {
    color: white;
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
}

.home-section-underline {
    height: 5px;
    background-color: #08F7FE;
    width: 70px;
    border-radius: 10px;
}