.footer-bg{
    height:500px;
    position:relative;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}
.message{
    height: 100px;
    border: none;
    resize: none;
    border-radius: 5px;
    padding-left: 5px;
    
}
.copyright-text{
    text-align: center;
    width: 100%;
}
input{
    margin-bottom: 10px !important;
    border-radius: 5px !important;
    height: 45px;
    padding-left: 5px;
    border: none;
}
.form-name{
    color:  #08F7FE;
    text-align: center;
    font-size: 30px;
}
.contact{
    border: 1px solid #08F7FE;
    padding: 20px 20px !important;
}
.contact-form{
    margin-top: 10%;
}
@media (max-width: 767.98px) {
    .footer-text{
        margin-left: 5% !important;
        margin-top: 5%;
    }
    .footer-bg{
        height:700px;
    }
    .footer-form{
        margin-left: 5% !important;
        margin-top: 5%;
    }
 }
