.blog-title{
    color: white;
    font-size: 20px;
}
.blog-card{
    border: 1px solid #08F7FE;
    margin-bottom: 10px;
    
}
.blog-details{
    color: #08F7FE;
    height: 85px;
}
.blog-button{
    margin-top: 40px;
    color:black;
    font-weight: bold;
    background-color:  #08F7FE;
    border: none;
}
@media (max-width: 991.98px) { 
    .blog-details{
        color: #08F7FE;
        height: 185px;
    }

    @media (max-width: 767.98px) { 
        .blog-details{
            color: #08F7FE;
            height: 105px;
        }
    
       }
   }